{% extends '::base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/normalize.min.css') }}" type="text/css" media="all"  />
  <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/cssreset.css') }}" type="text/css" media="all"  />
   <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/bootstrap/bootstrap.min.css') }}" type="text/css" media="all"  />
    <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/bootstrap/bootstrap-responsive.min.css') }}" type="text/css" media="all"  />
  <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/font-awesome/css/font-awesome.css') }}" type="text/css" media="all"  />
   <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/iconmoon/iconmoon.css') }}" type="text/css" media="all"  />
    <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/jquery-ui.css') }}" type="text/css" media="all"  />
  <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/jquery.switchButton.css') }}" type="text/css" media="all"  />
   <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/main.css') }}" type="text/css" media="all"  />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100' rel='stylesheet' type='text/css'>

  {% endblock %}
     {% block javascripts %}
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/modernizr-2.6.2.min.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery-ui-1.10.1.min.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery.switchButton.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/psbalancebudget/js/bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/psbalancebudget/js/main.js') }}" type="text/javascript"></script>
    {% endblock %}
{% block body -%}
  
 <header class="topHeader">
            <div class="container">
                <div class="row">

                    <div class="span12">
                        <div class="row">
                            <div class="span9">
                                <a href="#" class="mainLogo">Queensland Goverment</a>
                            </div>
                            <div class="span3 hidden-phone">
                                <ul class="subNav">
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="span12 hidden-phone">
                        <h1>Project Sunshine</h1>    
                    </div>

                    <div class="span12 mainNav">
                        <div class="navbar">

                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-menu2"></span>
                            </a>                            
                            <div>
                                <nav class="nav">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Budget Planner</a></li>
                                </nav>
                            </div>   

                        </div>                    
                    </div>

                </div>
            </div>
        </header>

        <div class="content">

            <section class="leadSection">
                <div class="container">
                    <div class="row">
                        <div class="span8">
                            <h2>{{ budgetdata.title}}</h2>
                            <p class="descriptionLead">{{ budgetdata.description}}</p>
                        </div>
                        <div class="span4">
                            <img src="{{ asset('bundles/psbalancebudget/img/video-sample-1.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="primeSlider">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="span10">
                                <ul class="totalSliderLabel topLabel">
                                    <li>$0</li>
                                    <li>$10b</li>
                                    <li>$20b</li>
                                    <li>$30b</li>
                                    <li>$40b</li>
                                    <li>$50b</li>
                                    <li>$60b</li>
                                    <li>$70b</li>
                                    <li>$80b</li>
                                </ul>                                
                                <div id="totalSlider" data-total="{{budgetdata.debt}}"></div>
                                <ul class="totalSliderLabel">
                                    <li>$5b</li>
                                    <li>$15b</li>
                                    <li>$25b</li>
                                    <li>$35b</li>
                                    <li>$45b</li>
                                    <li>$55b</li>
                                    <li>$65b</li>
                                    <li>$75b</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
              {% for category in categories%}
            <section class="contentSection">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="span8">
                                <h2>{{ category.title}}</h2>
                                <p>{{ category.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>            

            <!-- Start of First Row -->
          {% for section in  category.sections%}
            <section class="subSection promotSection">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span7">
                                    <div class="spacingAll">
                                        <h3>{{ section.title}}</h3>
                                        <p>{{ section.lead}}</p>
                                        <a href="#" class="moreInfo"><i class="icon-info-sign"></i> more info</a>
                                    </div>
                                </div>
                                <div class="span5">
                                    <div class="spacingAll">
                                        <img src="{{ asset('bundles/psbalancebudget/img/video-sample-2.jpg') }}" alt="" class="pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>            
           {% for issue in section.issues%}
              {% if  issue.isparent != '1'%}
            <section class="subSection">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span7">
                                    <div class="spacingAll">
                                        <h3>{{ issue.title}}</h3>
                                        <p>{{ issue.lead}}</p>
                                        <a href="#" class="moreInfo"><i class="icon-info-sign"></i> more info</a>
                                    </div>
                                </div>
                                {% if  issue.controltype.name == 'slider'%}
                                <div class="span5">
                                    <div class="spacingAll costSlider">

                                        <label class="blueLabel">current cost <span>${{ issue.optionvalues['max']|number_format}}M</span></label>
                                       
                                        <div id="slider_{{issue.id}}"class="slider" data-max="{{ issue.optionvalues['max']}}" data-max="{{ issue.optionvalues['max']}}" data-min="{{ issue.optionvalues['min']}}" data-step="{{ issue.optionvalues['step']}}" data-start="{{ issue.optionvalues['start']}}"></div>
                                        
                                        <div class="sliderLabel clearfix">
                                            <span class="pull-left">${{ issue.optionvalues['min'] }}M</span>
                                            <span class="pull-right">${{ issue.optionvalues['max'] }}M</span>
                                        </div>

                                        <label class="redLabel">cutting <span>$</span><input type="text" readonly id="value_{{issue.id}}" value="0"></label>
                                           <input type="text" readonly id="debt_value_{{issue.id}}" value="{{ issue.optionvalues['min']}}">
                                    </div>
                                </div>
                                 {% endif %} 
                                 {% if  issue.controltype.name == 'switch'%}
                           <div class="span5">
                                    <div class="spacingAll costSlider">

                                        <label class="blueLabel">current cost <span>${{ issue.optionvalues['max']|number_format}}M</span></label>
                                        
                                        <div class="switchButtonWrapper">
                                            <input class="switch" type="checkbox" value="1" id="switch_{{issue.id}}">
                                        </div>
                                        <input type="hidden" id="options_{{issue.id}}" data-max="{{ issue.optionvalues['max']}}" data-min="{{ issue.optionvalues['min']}}" >
                                        <label class="redLabel">cutting <span>$</span><input type="text" readonly id="value_{{issue.id}}" value="{{ issue.optionvalues['min']}}M"></label>
                                        <input type="text" readonly id="debt_value_{{issue.id}}" value="{{ issue.optionvalues['min']}}">
                                    </div>
                                </div>
                               {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
              {% endif %} 
            {#for the parent of the section#}
         {% if  issue.isparent == '1'%}
            <section class="subSection">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span7">
                                    <div class="spacingAll">
                                        <h3>{{ issue.title}}</h3>
                                        <p>{{ issue.lead}}</p>
                                        <a href="#" class="moreInfo"><i class="icon-info-sign"></i> more info</a>
                                    </div>
                                </div>
                                {% if  issue.controltype.name == 'Total Slider'%}
                                <div class="span5">
                                    <div class="spacingAll costSlider">

                                       
                                       
                                        <div id="slider_{{issue.id}}"class="slider" data-max="{{ issue.optionvalues['max']}}" data-max="{{ issue.optionvalues['max']}}" data-min="{{ issue.optionvalues['min']}}" data-step="{{ issue.optionvalues['step']}}" data-start="{{ issue.optionvalues['start']}}"></div>
                                        
                                        <div class="sliderLabel clearfix">
                                            <span class="pull-left">0%</span>
                                            <span class="pull-right">100%</span>
                                        </div>
                                            <label class="redLabel">cutting <span>$</span><input type="text" readonly id="parent_value_{{issue.id}}" value="0"></label>
                                        <label class="redLabel"><input type="text" readonly id="value_{{issue.id}}" value="0">%</label>
                                            <input type="text" readonly id="debt_value_{{issue.id}}" value="{{ issue.optionvalues['min']}}">   
                                    </div>
                                </div>
                                 {% endif %} 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subSection">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                             <div class="span7">
                                <div class="spacingAll">

                                    <h3>       TOTAL DEBT REDUCTION FROM {{ category.title}} - {{ section.title}}</h3>
                                    
                                </div>    
                             </div>
                            <div class="span5">
                                   <label class="redLabel">TOTAL <span>$</span><input type="text" readonly id="total_{{issue.id}}" value="0"></label>
                            </div>
                                
                            
                        </div>
                    </div>
                </div>
            </section>    
            {% endif %} 
            {% endfor%}
                   
                {% endfor%}
            {% endfor%}
                            

            <section class="contentSection finishedSection">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="span8">
                                <h4>Saving Options</h4>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                                <a href="#" class="nextButton">Next Section</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>              

        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <nav>
                            <ul>
                                <li><a href="#">Copyright</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Right to Information</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Jobs in Queensland</a></li>
                                <li><a href="#">Government</a></li>
                                <li><a href="#">Deutsch (Other languages)</a></li>
                            </ul>
                        </nav>

                        <p>© The State of Queensland 2002–2013 <br> Queensland Government</p>

                        <h5>Great State. Great opportunity.</h5>
                    </div>
                </div>
            </div>
        </footer>
<script type="text/javascript">
// save the users values
          
          function saveIssue(id,value){
         var debtValue = $('#debt_value_'+id).val();
              $.ajax({
  type: "POST",
  url: "{{ path('save_issue')}}",
  data:{id: id, value: value, debtvalue: debtValue},
  success: function(results){

        if(typeof results !== 'undefined')
        {
            updateDebt(results);
        }
        
  }
  
})
  }
  
  function updateDebt(results){
    var childrenValues = {};
    // var childrenDebtValues = {};
        for (var i=0;i<results.children.length;i++)
        { 
            var $key = results.children[i];
         //   childrenDebtValues[$key] = $('#debt_value_'+results.children[i]).val();
             childrenValues[$key] = $('#value_'+results.children[i]).val();
              
        }
         var childrenValuesJson = JSON.stringify(childrenValues);
         // var childrenDebtValuesJson = JSON.stringify(childrenDebtValues);
         var parentId = results.parentId;
          var currentTotalSliderValue =  $('#totalSlider').slider( "option", "value");
      
         {#this is a child issue#}
        if(results.isChild === true)
        {
           
           var parentDebt = $('#value_'+results.parentId).val(); 
           var childDebt = $('#debt_value_'+results.issueId).val(); 
            var data = {parentId: results.parentId, childDebt: childDebt, isChild: 'true',  parentDebt: parentDebt, childrenValues: childrenValuesJson,  currentDebt:currentTotalSliderValue };
        }
        {#this is the parent issue#}
        else if(typeof results.percentage !== 'undefined')
        {
         var childDebt = $('#debt_value_'+results.parentId).val();   
        var data = {parentId: results.parentId, parentPercentage: results.percentage, isParent: 'true', childrenValues: childrenValuesJson, currentDebt:currentTotalSliderValue};  
        }
        {#this is an independent issue#}
        else
        {
           var data = {independentId: results.issueId,isIndependent: 'true', independentValue:  results.value, siblingValues: childrenValuesJson, currentDebt:currentTotalSliderValue} 
        }
        
        
        $.ajax({
        type: "POST",
        url: "{{ path('update_debt')}}",
        data: data,
        success: function(result){

              if(typeof result !== 'undefined')
              {
                 
                // update the main debt slider
               
            
                 console.log(result.currentDebt);
                 $('#totalSlider').slider( "option", "value", result.currentDebt );
                 // update the section total
                 $('#total_'+parentId).val(result.sectiontotal);  
                 // update the parent slider value
                 if(typeof result.newParentDebt !== 'undefined'){
                      console.log(result.newParentDebt);
                    $('#parent_value_'+parentId).val(result.newParentDebt);   
                 }
               
              } 

        }
  
})  
    
  }
  
 
      </script>
         
    {% endblock %}
  