{% extends '::base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/normalize.min.css') }}" type="text/css" media="all"  />
  <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/cssreset.css') }}" type="text/css" media="all"  />
   <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/bootstrap/bootstrap.min.css') }}" type="text/css" media="all"  />
    <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/bootstrap/bootstrap-responsive.min.css') }}" type="text/css" media="all"  />
  <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/font-awesome/css/font-awesome.css') }}" type="text/css" media="all"  />
   <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/iconmoon/iconmoon.css') }}" type="text/css" media="all"  />
    <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/jquery-ui.css') }}" type="text/css" media="all"  />
  <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/jquery.switchButton.css') }}" type="text/css" media="all"  />
   <link rel="stylesheet" href="{{ asset('bundles/psbalancebudget/css/main.css') }}" type="text/css" media="all"  />
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' />

  {% endblock %}
     {% block javascripts %}
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/modernizr-2.6.2.min.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery-ui-1.10.1.min.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery.switchButton.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/psbalancebudget/js/bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/psbalancebudget/js/vendor/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/psbalancebudget/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/psbalancebudget/js/vendor/registration-validation.js') }}" type="text/javascript"></script>
    {% endblock %}
{% block body %}

        <header class="topHeader">
            <div class="container">
                <div class="row">

                    <div class="span12">
                        <div class="row">
                            <div class="span9">
                                <a href="#" class="mainLogo">Queensland Goverment</a>
                            </div>
                            <div class="span3 visible-desktop">
                                <ul class="subNav">
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="span12">
                        <h1>Project Sunshine</h1>    
                    </div>

                    <div class="span12 mainNav">
                        <div class="navbar">

                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="iconmoon-menu2"></span>
                            </a>                            
                            <div class="nav-collapse collapse">
                                <nav class="nav">
                                    <ul class="clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="#">About <i class="icon-angle-down"></i></a></li>
                                        <li><a href="planner.html">Budget Planner <i class="icon-angle-down"></i></a></li>
                                    </ul>
                                </nav>
                            </div>   

                        </div>                    
                    </div>

                </div>
            </div>
        </header>

        <div id="main">
            <section>
                <div class="sectionHeader">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="span10 clearMargin">
                                    <h2>You’ve completed the budget!</h2>            
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="span10 register-form-wrapper clearMargin">
                                <div class="widgetContent text-center">
                                    <h3>Register and submit your budget</h3>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                                    <div class="register-form row">
                                        <div class="span1 hidden-phone"></div>
                                        <form name="registration" id="planneruser" action="{{ path('registration')}}" method="post" class="span8">
                                            <div class="form-item-wrapper row clearfix">
                                                <div class="form-item span4">
                                                   {{ form_label(form.firstname ,'First Name *') }} 
                                                   {{ form_widget(form.firstname , {'attr': {'placeholder': 'Enter your first name'} }) }}
                                                </div>
                                                <div class="form-item span4">
                                                   {{ form_label(form.lastname ,'Last Name *') }} 
                                                   {{ form_widget(form.lastname , {'attr': {'placeholder': 'Enter your last name'} }) }}  
                                                </div>
                                            </div>
                                            <div class="form-item-wrapper row clearfix">
                                                <div class="form-item span4">
                                                   {{ form_label(form.email ,'Email *') }} 
                                                   {{ form_widget(form.email , {'attr': {'placeholder': 'Enter your email address'} }) }}
                                                </div>
                                                <div class="form-item span4">
                                                   {{ form_label(form.confirmemail ,'Confirm Email *') }} 
                                                   {{ form_widget(form.confirmemail , {'attr': {'placeholder': 'Confirm your email address'} }) }}
                                                </div>
                                            </div>
                                            <div class="form-item-wrapper row clearfix">
                                                <div class="form-item span4">
                                                   {{ form_label(form.mobilenumber ,'Mobile Number (optional)') }} 
                                                   {{ form_widget(form.mobilenumber , {'attr': {'placeholder': 'Enter your mobile number'} }) }}
                                                </div>
                                                <div class="form-item span4">
                                                   {{ form_label(form.phonenumber ,'Phone Number (optional)') }} 
                                                   {{ form_widget(form.phonenumber , {'attr': {'placeholder': 'Enter your phone number'} }) }}
                                                </div>
                                            </div>
                                            <div class="form-item-wrapper row clearfix">
                                                <div class="form-item span4">
                                                 {{ form_widget(form.agreestatus) }}<label>I agree to be contacted by XXXX</label>
                                                </div>
                                                <div style="display: none;">{{ form_widget(form.sessionid , {'attr': {'value': app.session.id} }) }}</div>    
                                                <div class="form-item form-submit span4">
                                                   <input type="submit" name="submit" value="Register and submit" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <nav>
                            <ul>
                                <li><a href="#">Copyright</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Right to Information</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Jobs in Queensland</a></li>
                                <li><a href="#">Government</a></li>
                                <li><a href="#">Deutsch (Other languages)</a></li>
                            </ul>
                        </nav>

                        <p>© The State of Queensland 2002–2013 <br> Queensland Government</p>

                        <h5>Great State. Great opportunity.</h5>
                    </div>
                </div>
            </div>
        </footer>
       
{% endblock %}
